<mat-tab-group mat-align-tabs="center">
    <mat-tab label="La ley de los audaces" >
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>La ley de los audaces</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img class="card-img"  src="../../../assets/suits.jpg" alt="Photo of a Shiba Inu">
              <p class="card-text">
                Harvey Specter es un éxitoso abogado de un bufete de Nueva York. Harvey está harto de ver siempre a los mismos candidatos para la empresa: niños ricos graduados en Harvard. Por accidente, aparece entre los candidatos Mike Ross. Mike tiene memoria eidética y ha pasado varias veces el examen de acceso a la Escuela de Derecho sustituyendo a otros. Harvey le contrata y le ayuda a guardar el secreto de que está ejerciendo sin la licenciatura. Mike se fija enseguida en su compañera Rachel Zane. Mike y Ross trabajan juntos y se complementan entre manipulación y buena ética profesional.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Friends">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Friends</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img class="card-img"  src="../../../assets/Friends.jpg" alt="Photo of a Shiba Inu">
              <p class="card-text">
                Friends nos contaba las peripecias de un grupo de amigos que viven en Manhattan (Nueva York), ellos eran Monica Geller, su hermano Ross Geller, Rachel Green una amiga de la infancia, sus vecinos Chandler Bing y Joey Tribbiani y otra amiga, Phoebe Buffay. Su historia comienza un día cuando todos están tomando café en su lugar habitual, una cafetería llamada Central Perk, cuando entra una chica vestida de novia que acaba de dejar plantado en el altar a su prometido. La novia resulta ser Rachel Green, compañera de instituto de Monica y Ross, que siempre ha estado enamorado de ella. Monica la invita a quedarse a vivir en su casa y la ayuda a iniciar una nueva vida.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="You" >
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>You</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img class="card-img"  src="../../../assets/You.jpg" alt="Photo of a Shiba Inu">
              <p class="card-text">
                Joe Goldberg es un joven brillante, pero que tiene todo el perfil de un psicópata acosador y obsesivo. Es un personaje oscuro con un enorme carisma, un ser que tiene una visión bastante retorcida del amor. Su personalidad, carácter y encanto lo llevarán a “enamorarse” de forma enfermiza, siendo capaz de llegar a cometer actos atroces y crueles.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="La casa de papel">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>La casa de papel</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img class="card-img"  src="../../../assets/La casa de papel.jpg" alt="Photo of a Shiba Inu">
              <p class="card-text">
                La Casa de Papel narra lo que se espera que sea el atraco perfecto al Museo de la Fábrica Nacional de Moneda y Timbre. La mente que idea este plan es El Profesor, un hombre que recluta a siete personas para llevar a cabo el gran golpe. Tokio es una joven atracadora muy buscada por la policía, Berlín asume el papel de "el cabecilla", Moscú es el experto en perforaciones, Río es "el informático", Nairobi es la falsificadora, Denver es el hijo de Moscú y, como siempre, falta la fuerza bruta: Helsinki y Oslo.
                La banda planea cada paso durante cinco meses, valoran todos los inconvenientes, todas las posibilidades y cuando llega el día, se encierran durante once días en la Fábrica Nacional de Moneda y Timbre con 67 rehenes. Su objetivo es salir de allí con su propio dinero de curso legal recién impreso y sin registrar, algo que será difícil ya que la policía ha sitiado el lugar. Tendrán que hacer todo el atraco con una condición: nada de relaciones entre los atracadores, algo que no llevan a rajatabla.
              </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Stranger Things">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Stranger Things</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img class="card-img"  src="../../../assets/Stranger Things.jpg" alt="Photo of a Shiba Inu">
              <p class="card-text">
                Stranger Things (originalmente titulada Montauk) es una serie de televisión dramática de misterio que está ambientada en una localidad de Indiana. Dicho lugar adquiere fama por los extraños acontecimientos que están sucediendo, similares a los del 'Proyecto Montauk', un supuesto proyecto secreto llevado a cabo por el gobierno de los Estados Unidos en el que se realizaban experimentos con la finalidad de desarrollar técnicas de guerra psicológica.
                La historia narra la súbita desaparición de un niño en esta ciudad durante la década de los 80, hecho que destapa los extraños sucesos que tienen lugar en la zona, producto de una serie de experimentos que realiza el gobierno. Además, en la ciudad aparecen fuerzas sobrenaturales inquietantes y una niña muy perturbadora.              </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>